/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/.env
/.env.*.local
/.phpunit.result.cache
/.vscode
/.idea
npm-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
